/* Resetando margens e padding para garantir consistência */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

/* Estilos para a página de boas-vindas */
.aboutPage {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 2rem;
  width: 80%;
  max-width: 600px;
}

.titlePage {
  font-size: 2.5rem;
  color: #3a3a3a;
  margin-bottom: 1rem;
}

.aboutPage p {
  font-size: 1.2rem;
  color: #555;
}

/* Estilos para o campo de busca */
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.inputs input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.inputs input:focus {
  border-color: #4CAF50;
  outline: none;
}

/* Botão de buscar */
#searchBtn {
  background-color: #4CAF50;
  color: white;
  padding: 0.8rem 2rem;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#searchBtn:hover {
  background-color: #45a049;
}

/* Botão de receita aleatória */
.random-recipe {
  margin-top: 2rem;
}

#randomRecipeBtn {
  background-color: #ff9800;
  color: white;
  padding: 1rem 2.5rem;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#randomRecipeBtn:hover {
  background-color: #fb8c00;
  transform: translateY(-3px);
}

#randomRecipeBtn:active {
  transform: translateY(1px);
}

/* Resultado */
#resultado {
  margin-top: 2rem;
  background-color: #fff;
  padding: 1rem;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Botão de voltar */
.voltar-btn {
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1rem;
  color: #4CAF50;
}

.voltar-btn:hover {
  text-decoration: underline;
}
