* {
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

.aboutPage {
  position: absolute;
  margin-left: 105.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46.6%;
  height: 100vh;
  background-image: linear-gradient(to top right, aqua, rgb(0, 158, 158));
}

.container {
  width: 450px;
  height: 320px;
  text-align: center;
  color: white;
}

.titlePage{
  font-size: 45px;
  height: 70px;
}

p{
  font-size: 25px;
  text-align: justify;
}

.bible{
  position: absolute;
  margin-left: 320px;
  margin-top: 150px;
  font-size: 45px;
}

.inputs{
  position: absolute;
  width: 400px;
  height: 290px;
  margin-left: 160px;
  margin-top: 250px;
}

input{
  padding: 8px;
      font-size: 20px;
      width: 100%;
      border-width: 1px;
      border-color: #6b6b6b;
      background-color: #FFFFFF;
      color: #00f8ff;
      text-align: left;
      border-style: solid;
      border-radius: 50px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-shadow: -50px 0px 0px rgba(66,66,66,.0);
      margin: 10px;
}

input:focus{
  outline:none;
}

#searchBtn{
  box-shadow: 1px 1px 50px -4px #949494;
background:linear-gradient(to bottom, #00fffb 5%, #00a6a3 100%);
border-radius:42px;
border:1px solid #4a6d73;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-size:21px;
padding:10px 72px;
text-decoration:none;
  margin: 18px 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#searchBtn:hover{
  background:linear-gradient(to bottom, #00a6a3 5%, #00fffb 100%);
background-color:#00a6a3;
}

#resultado{
  position: absolute;
  width: 700px;
  height: 40px;
  margin-top: 580px;
  margin-left: 37px;
  font-size: 30px;
  text-align: center;
}

#arrowButtons{
  position: absolute;
  margin-top: 595px;
  margin-left: 2px;
  display: none;
}

#foward{
  position: absolute;
  margin-left: 735px;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  background-color: black;
  color: white;
}

#back{
  border-radius: 100px;
  width: 35px;
  height: 35px;
  background-color: black;
  color: white;
}